html,body{
    margin: 0;
    padding: 0;
}

#navbar{
    background-color: #323a42;
}

#nav-list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center ;
}

#nav-list:nth-child(1){
    list-style: none;
    align-self: flex-start; 
}

.nav-item{
    list-style: none;
}


.responsive-img{
    width: 100%;
    height: auto;
}